$primary-color: 	#FFFF00;
$secondary-color: 	#FFA500;
$danger-color: #ff0000;
$warning-color: #FFBA0E;
$info-color: #00bfff;
$light-color: #e2e2e2;
$dark-color: #000000;
$primary-strong-color: #422864;
$lighter-color: #696969;
$light-opaque-color: #7a7a7a;
$lighter-opaque-color: #F4ECFF;
$light-border-color: #7D7D7D;
$primary-bg-btn: #422864;
$background-color: #F4ECFF;
$theme-background-color: #f0f0f0;
$theme-success-color: #30e030;
